<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{HH:mm:ss} %-5level [%t] %c{1} - %msg%n
        </Property>
        <Property name="LOG_DIR">target</Property>
    </Properties>

    <Appenders>

        <!-- Console logging -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File logging -->
        <RollingFile name="FileLogger"
                     fileName="${LOG_DIR}/automation.log"
                     filePattern="${LOG_DIR}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Selenium noise reduced -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="org.openqa.selenium.remote" level="WARN"/>

        <!-- Your project -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>
